@import '../bootstrap/clear';
@import url('https://fonts.googleapis.com/css?family=Lato');
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

$mobile-breakpoint : "screen and (min-width : 480px)";
$tablet-breakpoint : "screen and (min-width : 768px)";
$desktop-breakpoint : "screen and (min-width : 1024px)";
$bigdesktop-breakpoint   : "screen and (min-width : 1366px)";
$color-main : #4b4b4b;
$color-video : #232323;
$color-second : #979797;
.container-fluid {
    padding: 0;
}

#cme-navbar {
    box-shadow: 0 1px 10px 0 #00000033;
    background: white;
    height: 60px;
    margin: 0;
    padding: 0;
    z-index: 10;
    & .menu {
        margin: 0;
        float: left;
        width: 100%;
    
        & a {
            margin-right: 60px;
            margin-top: 17px;
            float: left;
            text-decoration: none;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            color: #4b4b4b;
            font-size: 16px;
            &:hover {
                color: #fff;
                text-shadow: 0 0 10px $color-main;

            }
        }
        & #logo{
            margin: 15.2px 61.2px ;
        }
        & div {
            float: right;
            width: auto;
            margin: 0 0 0 0;
            padding: 0;
            & span {
                & a {
                    margin: 0 19px 0 0;
                    padding: 20px;
                    width: 89px;
                    height: 60px;
                    border-left: 1px solid #00000033;
                    border-right: 1px solid #00000033;
                }
    
                -webkit-transition: all 1s ease-in-out;
                transition: all 1s ease-in-out;
            }
        }

    }
    
}

#logo-cme {
    width: 119.6px;

}
//SEARCH BAR
.search-bar {
	position: relative;
	.icon {
		cursor: pointer;
		position: relative;
        top: 20px;
        margin-right: 20px;
        font-size: 20px;
        -webkit-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;

	}
	.input-text {
		max-width: 0;
		border: 0;
		border-color: $color-main ;
	    outline: none;
	
		-webkit-transition: max-width 1s ease-in-out;
		transition: max-width 1s ease-in-out;
	}
}

.active {
	& .input-text {
        max-width: 100%;
        margin-top: 20px;
        margin-right: 20px;
        border-bottom: 2px solid $color-main ;
        font-style: italic;
    }
    & .icon {
        display: none;
    }
}


// Give the page a bit of height so that we can scroll
body {
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
  }
  

  
  @keyframes fade-in-up {
    0% { opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  .video-wrap {
    text-align: center;
    width: 100%;
    background: $color-video;
    padding: 0;
  }
  
  .video {  
    iframe {
      max-width: 100%;
      max-height: 100%;
    }
  
    &.stick {
      position: fixed;
      bottom: 20px;
      right: 20px;
      transform: translateY(100%);
      width: 341px;
      height: 200px;
      animation: fade-in-up .25s ease forwards;
      z-index: 5;
    }
  }
#container-content {
    & span {
        
        h1 {
            text-align:center;
            font-size: 45px;
            font-weight: bold;
            color: $color-main;
            margin-top: 27px;
 
        }

    }
    & div {

        & h6 {
            width: 768px; 
            text-align: center; 
            border-bottom: 1px solid #000; 
            line-height: 0.1em;
            margin-right: 50%;
            margin-left: 375px;
            & span {
                
                background:#fff; 
                padding:0 10px;
            }
        }
    }
}

#box-sosmed {
    margin: 39px 0 0 250px;
    padding: 0;
    background: #d8d8d8;
    width: 240px;
    display: grid;
    grid-template-columns: 80px 80px 80px;
    font-size: 18px;
    & a {
        padding: 18px;
        width: 80px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        color: white;
        border: none;
        &:nth-child(3) {
            background: #4b4b4b;
            width: 80px;
            padding: 12px;
        }


    }
    & .fa {
        font-size: 24px;
        text-shadow: 0px 0px 1px #000;
        color: #d8d8d8;
      }
}

.content {
    max-width: 560px;
    margin: 49px auto 10px 250px;
    font-size: 18px;
    line-height: normal;
    float: left;
  }
.sidebox {
    float: left;
    margin: 0;
    width: 300px;
    border: solid 1px #4b4b4b;
    margin: 49px 0 0 80px;
    height: 493px;
    position: relative;
    
  }
  .judulbox {
      position: absolute;
      width: 144px;
      background: $color-main;
      height: 38px;
      margin: -19px 78px 0px 78px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: white;
      padding: 5px;
  }

  //STICKY MENU
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.popular-minxs {
    margin-top: 33px;
    margin-left: 20px;
    margin-right: 21px;
    margin-bottom: 22px;
    color: $color-second;
    display: block;

    & div {

        & img{
            float: left;
            width: 100px;
            height: 70px;
        }
        & label {
            margin-left: 15px;
            font-size: 12px;
            font-weight: bold;
            float: left;
            line-height: normal;
        }
        & i {
            margin-left: 15px;
            height: 35px;
    
        }
    }
}