<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="container-fluid" id="cme-navbar">
        <div class="menu">
            <a class="" href="#" id="logo">
                <img id="logo-cme" src=<%= require("./image/img-main-logo@3x.png") %> />
            </a>

            <a href="#">NEWS</a>

            <a href="#">TV</a>

            <a href="#">TALKS</a>

            <a href="#">STORIES</a>

            <div class="menu-kanan">
                <span>
                    <a id="login" href="">LOGIN</a>
                </span>
                <div class="search-bar">
                        <i class="icon fa fa-search"></i>
                        <input class="input-text" type="text" name="search" placeholder="Search here">
                </div>
            </div>
        </div>

    </nav>

    <div class="container-fluid" >
            <div class="page">
                    <div class="video-wrap">
                      <div class="video">
                        <iframe width="768" height="450" src="https://www.youtube.com/embed/YjTL4wqPH4E?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>      
                     </div>
                    </div>
                    
                    <div class="row" id="container-content">
                       <span>
                            <h1>E Banks That Accept Us Casino Players</h1>
                       </span>
     
                       <div>
                            <h6><span>2 hours Ago</span></h6>
                       </div>
                       <div id="box-sosmed">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="">64</a>
                       </div>

                       <div class="content">
                           <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point where images and videos are used more to promote a product or service and this has extended from businesses to our daily routine. We are all in such a hurry that we wave bye instead of saying “goodbye”, show the watch to point to the time and so on. It is a healthy habit considering how we use our hands and motions to indicate what we are upto or capable of. Imagine dancing a few steps to tell someone you are off to a dance class? That would impress them to no end. The same applies when you are interacting with others online through a forum. You can take the assistance of MySpace Layouts to dress up your pages and convey messages to people who come by. These MySpace Layouts will have boxes for content, and for your personal information. There will also be provisions given in the MySpace Layouts for putting up pictures and videos. One might even be able to use the MySpace Layouts to put in a slideshow of their favorite pictures.

                                As long as the page does not look too cluttered or it becomes difficult for people to read the text, these extra frills from MySpace Layouts can remain. However, if by using these from the MySpace Layouts, you are aiming at cutting across as professional, you might not really succeed. Because when our pages are filled with text, pictures and other fun elements, it loses its professionalism and becomes a fun page. So, it is advisable for you to choose from the MySpace Layouts sensibly. It might help make friends, but will it help you in your professional endeavors by using those MySpace Layouts? The MySpace Layouts site offers more than just backgrounds and most of us who have been there know this fact. There are surveys that we can create on MySpace Layouts page that will help us find out about others, or reveal more about ourselves. Apart from this, the MySpace Layouts website will contain MySpace music backgrounds, which will have musical notes or instruments as the background picture. These MySpace Layouts work well for a musician or an aspiring singer. Similarly, if a person loves animals, they can put in one of the many MySpace Layouts available on the site. Or they could upload a picture of their pet and using MySpace Layouts generator; create their own personalized one of a kind background. Whatever you decide to do with the MySpace Layouts, make sure to have put some thought into it if you are hoping to see some kind of visible improvement in your career or job front, welcoming new opportunities.</p>
                       </div>
                       <div class="sidebox">
          
                            <div class="judulbox">      
                               <label for=""> Popular Minxs</label>

                            </div>
                            <div class="popular-minxs">
                                <div>
                                    <img src=<%= require("./image/cv.jpg") %> >
                                    <div>
                                        <label for="Advertising outdor">Advertising outdor</label>
                                        <i class="fa fa-share-square"> 16</i>
                                    </div>
                                </div>
                            </div>
                            <div class="popular-minxs">
                                <div>
                                    <img src=<%= require("./image/cv.jpg") %> >
                                    <div>
                                        <label for="Advertising outdor">Advertising outdor</label>
                                        <i class="fa fa-share-square"> 16</i>
                                    </div>
                                </div>
                            </div>
                            <div class="popular-minxs">
                                <div>
                                    <img src=<%= require("./image/cv.jpg") %> >
                                    <div>
                                        <label for="Advertising outdor">Advertising outdor</label>
                                        <i class="fa fa-share-square"> 16</i>
                                    </div>
                                </div>
                            </div>
                            <div class="popular-minxs">
                                <div>
                                    <img src=<%= require("./image/cv.jpg") %> >
                                    <div>
                                        <label for="Advertising outdor">Advertising outdor</label>
                                        <i class="fa fa-share-square"> 16</i>
                                    </div>
                                </div>
                            </div>
                            <div class="popular-minxs">
                                <div>
                                    <img src=<%= require("./image/cv.jpg") %> >
                                    <div>
                                        <label for="Advertising outdor">Advertising outdor</label>
                                        <i class="fa fa-share-square"> 16</i>
                                    </div>
                                </div>
                            </div>
                       </div>
     
                    </div>
                    

    </div>
</body>
</html>